################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KidSMedia_API/.vs/KidSMedia_API
/KidSMedia_API/bin/Debug/net9.0
/KidSMedia_API/obj
/KidSMedia_API/.vs/ProjectEvaluation
/KidSMedia_API/bin/Debug/net8.0
/KidSMedia_API/bin/Release/net8.0/linux-x64
